/* Profile styles */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.profile-picture {
    width: 100px;
    height: auto;
}

.profile-image {
    width: 50px;
    height: auto;
    
}

.profile-image:hover {
    background-color: #666666;
}

.stats-card {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stats-panel {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.history-panel {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 70%;
}

.film-info {
    margin: 5px;
    background-color: white;
    padding: 5px;
    width: 10%;
    font-size: 1.5rem;
}